@model SI2Proy.Models.Inventario

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Inventario</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Total)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Total)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SaldoPro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SaldoPro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PedirQ)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PedirQ)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StockMaximo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StockMaximo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StockComprometido)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StockComprometido)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaStockComprometido)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaStockComprometido)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Digitador)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Digitador)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaDigitador)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaDigitador)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AgregadoFkNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AgregadoFkNavigation.CodMateriaPrima)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CodInventario">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
