@model IEnumerable<SI2Proy.Models.MovimientoInventario>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TipoMovimiento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaMovimiento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Factura)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrecioUnitario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cantidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Observacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Digitador)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaDigitador)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InventarioFkNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrdenAprovisionamientoFkNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProveedorFkNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TipoMovimiento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaMovimiento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Factura)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrecioUnitario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cantidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Observacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Digitador)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaDigitador)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InventarioFkNavigation.CodInventario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrdenAprovisionamientoFkNavigation.NumeroOrdenAprovisionamiento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProveedorFkNavigation.NumeroProveedor)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CodMovimientoInventario">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CodMovimientoInventario">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CodMovimientoInventario">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
